<% provide(:title, 'Home') %>

<h1> Welcome to sBerryCake Alpha </h1>

<a href=<%=new_user_registration_path%>  class="btn btn-large btn-primary" >  Promoter Sign Up</a>

<a href=<%=new_buss_registration_path%>  class="btn btn-large btn-primary" >  Promoter Sign Up</a>