
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    	<nav>
    	<ul class="nav nav-pills pull-right">
		<% if user_signed_in? %>
			<Logged in as <strong><%= current_user.email %></strong>.
			<li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
			<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Login", new_user_session_path %></li>
		<% end %>
		</ul>
	</nav>
</div>
</div>
</header>